.wrapper{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .container{
    /* background-color: rgb(189, 142, 142); */
    display: flex;
    justify-content: center;
    height: 500px;
    width: 120%;
    width: auto;
}
.wrapper .container form{
    height: 100%;
    width: 100%;
}
.wrapper .container form h1{
    text-align: center;
    margin: 10px;
    text-transform:uppercase;
}
.wrapper .container form div{
    padding-left: 50px;
}
.wrapper .container form div label{
    display: flex;
    justify-items: center;
}